* {
    margin: 0px;
    padding: 0px;
}
body {
    color: #400080;
    margin: 40px;
    background-color: #c2c2d6;
}
h1 {
  margin: 20px;
  font-size: 200 px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: #c2c2d6;
  border: 10px solid black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
h2 {
  margin: 20px;
  font-size: 200 px;
  text-align: left;
}
