* {
	margin: 0px;
	padding: 0px;
}

body {
	min-height: 100vh;
	min-width: 70vw;
}

#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0px;
}
.item {
	padding: 0px;
	transition: all 500ms ease;
}
/*images*/

.img1 {
  image:url('1.png');
  width:100px;
  height:100px;
}
.img2 {

}
.img3 {

}
.img4 {

}
.img5 {

}
.img6 {

}
.img7 {

}
.img8 {

}
.img9 {

}
.img10 {

}
.img11 {

}
.img12 {

}
.img13 {

}
.img14 {

}
.img15 {

}

/* classes to hide and remove */


/* make the backgrounds colorful */

body.colorful {
	background:  linear-gradient(to right, #f85032 0%,#2b52ff 100%);
}

body.colorful .item {
	background:  linear-gradient(135deg, #fceabb 0%,#fccd4d 93%);;
}

/* rotates an element in 3d space */

.rotate {
	transform: perspective(400px) rotateY(180deg);
}
