* {
	margin: 0px;
	padding: 0px;
}

body {
	min-height: 100vh;
	min-width: 70vw;
  border-left: 100px solid white;
  border-right: 100px solid white;
}

#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0px;
}

.custom {
  cursor: url(cursors/cursor.cur), auto;
}

#btn {
    display: none;
}

#btn2 {
    display: none;
}

#btn3 {
    display: none;
}

#btn4 {
    display: none;
}

#btn5 {
    display: none;
}

#btn6 {
    display: none;
}

#btn7 {
    display: none;
}

#btn8 {
    display: none;
}

#btn9 {
    display: none;
}

#btn10 {
    display: none;
}

#btn11 {
    display: none;
}

#btn12 {
    display: none;
}

#btn13 {
    display: none;
}

#btn14 {
    display: none;
}

#btn15 {
    display: none;
}


#img1 {
  width: 110px;
  height: 110px;
}
#img2 {
  width: 110px;
  height: 110px;
}
#img3 {
  width: 110px;
  height: 110px;
}
#img4 {
  width: 110px;
  height: 110px;
}
#img5 {
  width: 110px;
  height: 110px;
}
#img6 {
  width: 110px;
  height: 110px;
}
#img7 {
  width: 110px;
  height: 110px;
}
#img8 {
  width: 110px;
  height: 110px;
}
#img9 {
  width: 110px;
  height: 110px;
}
#img10 {
  width: 110px;
  height: 110px;
}
#img11 {
  width: 110px;
  height: 110px;
}
#img12 {
  width: 110px;
  height: 110px;
}
#img13 {
  width: 110px;
  height: 110px;
}
#img14 {
  width: 110px;
  height: 110px;
}
#img15 {
  width: 110px;
  height: 110px;
}
/* make the backgrounds colorful

body.colorful {
	background:  linear-gradient(to right, #f85032 0%,#2b52ff 100%);
}

body.colorful .item {
	background:  linear-gradient(135deg, #fceabb 0%,#fccd4d 93%);;
}

/* rotates an element in 3d space */
/*
.rotate {
	transform: perspective(400px) rotateY(180deg);
}
*/
