* {margin: 10px; padding 0px;}

body {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	font-family: Helvetica, sans-serif;
	background-color: white;
	color: black;
}

img {
	width: 400px;
	height: auto;
}
#popup1 {
  width: 400px;
}

img {
	box-shadow: 0px 0px 10px #000;
	display: inline-block;
	margin: auto;
}
/*.popup:hover img {
	opacity: 0;
}*/

img:hover {
    opacity: 0.5;
}

p {
	font-family: Helvetica, sans-serif;
	color: grey;
	font-size: 70px;
	font-weight: bold;
}

.pos {
	color: grey;
	font-family: Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
	opacity: 0;
}

@media print {
	.break	{ display: block; page-break-before: always; }

	div[class^="page"] {
		position: relative;
		font-size: 70px;
	}
	img {
		display: none;
	}
	p {
		display: none;
	}
	.pos {
		opacity: 100;
	}
}
