

.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;

}
#section1 {
  width: 900px;
  margin: 100px;
  position: absolute;
  font-family: Comic Sans MS;
}
#section2 {
  width: 900px;
  margin: 100px;
  position: absolute;
  font-family: Arial;
}
#section3 {
  position: fixed;
  right: 0;
  padding-right: 20px;
  top: 50%;
  width: 15em;
  margin-top: -2.5em;
  font-family: Arial;
}

.reverse {
  unicode-bidi:bidi-override;
  direction:rtl;
}

div.big {
    font-size: 550%;
    text-shadow: 4px 4px 4px #aaa;
    color: #ff0000;
    font-weight: bold;
}

div.big2 {
    font-size: 550%;
    text-shadow: 4px 4px 4px #aaa;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: bolder;
}

div.thin {
  style="width:300px"
}
.slow {
    font-family: Courier, serif;
    letter-spacing: 11px;
    word-spacing: 15px;
    color: #7a7d82;
    line-height: 200%;
}
.slow:hover {
    font-family: Courier, serif;
    letter-spacing: 11px;
    word-spacing: 15px;
    color: white;
    line-height: 200%;
}

.calm {
  font-family: Bookman, serif;
  line-height: 190%;
  font-size: 200%;
  word-spacing: 8px;
  padding-left: 300px;
  padding-right: 300px;
  top: 20px;
  position: relative;
}
a:hover {
  letter-spacing: -6px;
  word-spacing: 2px;
  line-height: 190%;
}
