* { margin: 0px; padding: 0px; }

body {
	font-family: garamond;
	color: #b71010;
	background-color: black;
}

#desktop{
	opacity: 1;
	color: white;
}

 #print {
	opacity: 0;
}

/* iPad */
/*@media (min-width: 668px) and (max-width: 1024px) {
	body {
		background: grey;
		font-size: 30px;
	}

	#tablet{
		opacity: 1;
	}

	#desktop, #mobile, #print {
		opacity: 0;
	}

}*/

/* iPhone 6 */
/*@media (min-width: 375px) and (max-width: 667px) {

	body {
		background: white;
	}

	#mobile{
		opacity: 1;
	}

	#desktop, #tablet, #print {
		opacity: 0;
	}
}*/

/* print */
@media print {
	@page {
		margin: 50cm;
		background: green;
	}
	body {
		background: green;
	}

	#print{
		opacity: 1;
	}

	#desktop {
		opacity: 0;
	}
}
