* { margin: 20px; padding: 0px; }

body {
	font-family: Courier;
	background-color: #5E8D6D;
	border: 50px dotted #87AB78;
}


#desktop{
	opacity: 1;
	font-family: Courier;
	color: #FFFFA4;
	font-size: 20px;
}

 #print {
	opacity: 0;
}

/* iPad */
/*@media (min-width: 668px) and (max-width: 1024px) {
	body {
		background: grey;
		font-size: 30px;
	}

	#tablet{
		opacity: 1;
	}

	#desktop, #mobile, #print {
		opacity: 0;
	}

}*/

/* iPhone 6 */
/*@media (min-width: 375px) and (max-width: 667px) {

	body {
		background: white;
	}

	#mobile{
		opacity: 1;
	}

	#desktop, #tablet, #print {
		opacity: 0;
	}
}*/

/* print */
@media print {
	@page {
		margin: 50cm;

	}


	#print{
		opacity: 1;
	}

	#desktop {
		opacity: 0;
	}
}

/* unvisited link */
a:link {
    color: #FFFFA4;
}

/* visited link */
a:visited {
    color: #FFFFA4;
}
/* mouse over link */
a:hover {
    color: #1A4127;
}
