html, body {
	margin:0;
	padding:0;
	overflow-x: hidden;
    box-sizing: border-box;
}

.slide {
	width:100vw;
	height:100vh;
	display: flex;
	overflow: hidden;
}

img {
	align-self: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}


.text {
	align-self: center;
    justify-content: center;
    text-align: center;
    width:100vw;
    padding: 100px;
		font-size: 100;
}

div.textContainer p {
    display: inline-block;
    text-align: left;
}
div.a {
    font-size: 30px;
		font-family: "Helvetica", sans-serif;
}
